body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
   
}
header {
    background-color:#f4f4f4;
    color:#001f3f;
    padding: 1.5rem 0;
    text-align: center;
    font-family: 'Lobster', cursive;
}
nav{
    background-color: #001f3f;
    padding: 0.5rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
nav a:hover {
    color:#640735;
}
.hero {
    display: flex;
    background-color: #640735;
    color: #fff;
    padding: 4rem 2rem;
    height: 80vh;
    position: relative;
    overflow: hidden;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    opacity: 0.5;
    z-index: 1;
}
.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.hero {
    position: relative;
    overflow: hidden;
    height: 60vh;
    background-color: #7a0941;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.hero-text {
    max-width: 60%;
}
.hero h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.hero input[type="email"] {
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 4px;
    width: 250px;
}
.hero button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #001f3f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.hero-image {
    max-width: 35%;
    height: auto;
}
.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.container {
    padding: 2rem;
}
h2 {
    color: #001f3f;
}

.link
{
    text-decoration: none;
    color:#111;
    margin: 0 1rem;

}
.section {
    background-color: #fff;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
   
}
.section:hover {
    transform: scale(1.02);
}
footer {
    background-color: #001f3f;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    display: none;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-top: 2rem;
}
.carousel img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}
.carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.carousel-button {
    cursor: pointer;
    background-color: #001f3f;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 4px;
    font-weight: bold;
}
.fade-in {
    opacity: 1;
    transition: opacity 0.5s;
}
.fade-in.visible {
    opacity: 0;
}
.country-card {
    display: none;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.country-card img {
    max-width: 5%;
    max-height: 5%;
    height: auto;
    border-radius: 8px;
}


#searchBar {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
#countryList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.about-card {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: #ffffff;
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.about-card:hover {
    transform: scale(1.02);
    background-color: #f4f4f4;
}
.card-content h3 {
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.card-content p {
    font-size: 1rem;
}


#features
{
    text-align: center;
}

.feature-card {
    background-color: #640735;
    color:#f4f4f4;
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 1rem auto;
}

.feature-card:hover {
    transform: scale(1.02);
    background-color:#001f3f;
  
}

.feature-card img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    border-radius: 8px; /* Make the image corners round */
}

.feature-card div {
    flex: 1; /* Ensure the text container takes up remaining space */
    display: flex;
    flex-direction: column;
}

.feature-card h3 {
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.feature-card p {
    font-size: 1rem;
}

footer {
    background-color: #001f3f;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    display: block;
}



/* closet page styling */
.closetf {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
   background-color: #f4f4f4;
}

.closet-item {
    flex: 1 1 calc(33.333% - 40px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 2rem; /* Set a minimum height to ensure uniformity */
    justify-content: center; /* Ensure text is centered vertically */
}

.closet-item p {
    max-width: 18rem;
    margin: 0;
}

.closetimg {
    margin-top: 1rem;
    max-width: 35rem;
    max-height: 40rem;
}
  

:root {
    --xyz-ease: cubic-bezier(.26,2.05,.84,.38);
}





.phone {
    background: white;
    padding: 1.5em;
    border-radius: 2em;
    position: relative;
    transform: rotateZ(-45deg);
    box-shadow: -30px 30px 0px rgba(0,0,0,.1);

    &:before {
        content: " ";
        position: absolute;
        background-color:#001f3f;
        border-radius: 1em;
        padding: .5em;
        width: 33%;
        top: -5px;
        left: 30%;
    }
}

.square-group {
    display: grid;
    grid-template-areas:
        "square square"
        "square square";

    .square {
        padding: 3em;
        margin: .6em;
        border-radius: .8em;
        background-color:#001f3f;
    }
}

.skeleton-title, .skeleton-title2 {
    padding: .6em;
    margin: 1em .3em;
    border-radius: .8em;
    background-color:#640735;
}
.skeleton-title2 {
    width: 60%;
}

.circle-group {
    display: grid;
    grid-template-areas:
        "circle circle circle"
        "circle circle circle";

    .square {
        padding: 2em;
        margin: .6em;
        border-radius: 50%;
        background-color:#001f3f;
    }
}


@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        height: auto;
        padding: 2rem 1rem;
        text-align: center;
    }
    .hero-content {
        flex-direction: column;
    }
    .hero-text {
        max-width: 100%;
    }
    .hero h1 {
        font-size: 2rem;
    }
    .hero p {
        font-size: 1rem;
    }
    .hero input[type="email"] {
        width: 100%;
        margin: 0.5rem 0;
    }
    .hero button {
        width: 100%;
        margin-top: 0.5rem;
    }
    nav a {
        display: block;
        margin: 0.5rem 0;
    }
    .feature-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 100%;
    }
    .feature-card img {
        margin-bottom: 1rem;
    }
    .carousel img {
        width: 100%;
    }
    .closet-item {
        flex: 1 1 100%;
    }
}

/* Additional adjustments for very small screens */
@media (max-width: 480px) {
    .hero h1 {
        font-size: 1.5rem;
    }
    .hero p {
        font-size: 0.9rem;
    }
    .hero input[type="email"] {
        font-size: 0.9rem;
    }
    .hero button {
        font-size: 0.9rem;
    }
}